body {
background-color: lightgray;
font-family: arial;
}

main {
margin: 40px;
}

.h1 {
background-color: gray;
width: 453px
}

i {
border-bottom: 1px dotted black
}

b {
background-color: darkgray;
}